body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.calculator{
    width: 20%;
}

.panel{
    border-color: rebeccapurple;
}

input{
    border: 0px;
    text-align: center;
}

.btn{
    width: 54px;
}

.big-btn{
    width: 138px;
}

.operator{
    font-weight: bold;
}

.rows{
    padding-bottom: 10px;
}